.map {
  position: relative;
}

#map {
  width: 100vw;
  height: 100vh;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  padding: 2rem 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include phones {
    flex-direction: column;
  }
}

.contacts {
  font-style: normal;
  font-size: 2rem;
  color: #010101;

  @include phones {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.contacts__phones {
  text-decoration: none;
}

.footer__list {
  display: flex;
}

.footer__item {
  margin-right: 1.6rem;
  opacity: 0.3;
  transition: .3s linear;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    opacity: 1;
  }
}

.footer__row-socials {
  display: inline-block;
  height: 2rem;
  width: 2rem;
}